/antlr-2.7.6.jar
/br/
/common-annotations.jar
/commons-beanutils.jar
/commons-collections.jar
/commons-digester.jar
/commons-logging-api-1.1.1.jar
/commons-logging.jar
/dom4j-1.6.1.jar
/el-api-2.2.jar
/el-impl-2.2.jar
/facelets-taglib-jsf20-spring-3-0.5.jar
/hibernate-jpa-2.0-api-1.0.1.Final.jar
/hibernate.cfg.xml
/hibernate3.jar
/javassist-3.12.0.GA.jar
/javax.faces.jar
/javax.servlet.jsp.jstl-1.2.1.jar
/javax.servlet.jsp.jstl-api-1.2.1.jar
/jcl-over-slf4j-1.6.0.jar
/jsf-api.jar
/jsf-impl.jar
/jsf-tlds.jar
/jstl-1.1.2.jar
/jstl.jar
/jta-1.1.jar
/log4j-1.2.14.jar
/mysql-connector-java-5.1.8-bin.jar
/primefaces-3.2-sources.jar
/primefaces-3.2.jar
/servlet-api.jar
/servletapi.jar
/slf4j-api-1.6.4.jar
/slf4j-jdk14-1.7.5.jar
/slf4j-simple-1.6.4.jar
/standard-1.1.2.jar
/standard.jar
/start-1.0.6.jar
/taglib-core-0.4.jar
